In [27]:
import pandas as pd
import os
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\Zhang Wu'

In [3]:
os.chdir(r'C:\Users\Zhang Wu\Desktop\Financial Enginerring and risk management II')

In [4]:
os.getcwd()

'C:\\Users\\Zhang Wu\\Desktop\\Financial Enginerring and risk management II'

In [5]:
df = pd.read_excel('Assignment2.xlsx',sheet_name = 2)

In [6]:
df.head()

,Asset 1,Asset 2,Asset 3,Unnamed: 3,Equally weighted loss,Unnamed: 5,Unnamed: 6
0,2.1675,-1.8883,3.0712,NaN,-1.116800,NaN,NaN
1,3.3875,-0.5608,1.2428,NaN,-1.356500,NaN,NaN
2,-2.5194,1.5773,-3.1840,NaN,1.375367,NaN,NaN
3,-1.3959,1.4225,3.0923,NaN,-1.039633,NaN,NaN
4,-2.7264,1.0408,-0.0131,NaN,0.566233,NaN,NaN

In [7]:
L = df['Equally weighted loss']
L[:5]

0   -1.116800
1   -1.356500
2    1.375367
3   -1.039633
4    0.566233
Name: Equally weighted loss, dtype: float64

In [30]:
s= L.sort_values().values
s[int(np.ceil(len(L)*0.9-1))]

1.2922666666666667

In [14]:
len(L)*0.9-1

53.0

In [31]:
cvar = 1/len(s)*sum(s[int(np.ceil(len(L)*0.9-1)):])/(1-0.9)

In [32]:
cvar

2.1618166666666667

In [37]:
from scipy.stats import binom

In [42]:
1-scipy.stats.binom.cdf(11,15,0.5)

0.017578125

In [44]:
1-(scipy.stats.binom.cdf(13,15,0.5))**100

0.047666556568750074

In [48]:
scipy.stats.binom.cdf(13,15,0.5)**100

0.9523334434312499

In [49]:
1/2 < 1/2+1/2*1/2

True

In [50]:
1/2+1/2*1/2

0.75